@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');







* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
    font-family: 'work', sans-serif;
    font-family: 'Marvel', sans-serif;
    font-family: 'Black+Ops+One', sans-serif;
    font-family: 'Open', sans-serif;
    font-family: 'ital', sans-serif;
    font-family: 'Playwrite AU VIC Guides', cursive;
    font-family: 'Inter',sans-serif;
}

.header {
    width: 100vw;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position:sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;


}

/* menuu */

.menu {
    display: flex;
    justify-content: left;
    transition: all 1s ease;
    font-family: 'work', sans-serif;
    

}

.menu ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    color: aliceblue;

}

.menu li a {
    color: aliceblue;
    text-decoration: none;

}

li {
    transition: all 0.9s ease;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
  

}

li:hover {
    transform: scale(1.2);
    border: 1px solid gold;

}

/* دکمه های هدر */
.header-actions {
    display: flex;
    width: 100px;
    justify-content: center;
    gap: 20px;
    padding-right: 40px;
}

.btn1,
.btn2 {
    transition: all 0.9s ease;
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn1:hover {
    transform: scale(1.2);
    border: 1px solid white;
}

.btn2:hover {
    transform: scale(1.1);
    border: 1px solid white;
}



main {}

.main1 {
    width: 100vw;
    height: 720px;
    background-color: rgb(0, 0, 0)
}

.box-img {
    position: absolute;
    left: 45%;

}

.box-text {
    position: absolute;
    top: 20%;
    padding-left: 50px;
}

.box-text h1 {
    font-size: 8rem;
    color: white;


}

.box-text2 {
    display: flex;
    position: absolute;
    top: 70%;
    padding-left: 5rem;
}

.box-text2 h3 {
    color: rgb(223, 212, 212);

}

.main2 {
    width: 100vw;
    height: 13rem;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.main2 h3 {
    color: white;
    position: absolute;
    right: 79%;
    font-family: 'Playwrite AU VIC Guides', cursive;
}

.main-content {
    display: flex;
    justify-content: center;
    gap: 20rem;
    align-items: center;
    padding: 20px;

}

.box1 {
    display: flex;
    justify-content: center;

}

.box1 img {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: white;
}

.box4 h1 {
    font-family: Marvel;
}

.box4 span {
    font-family: Ops+One;
}

.main-content h1 {
    color: white;


}

/* مین 3 */

.main3 {
    width: 100vw;
    height: 820px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.main-conteiner {
 
    display: flex;
    align-items: center;
    width: 90%;
    height: 420px;
    background-color: black;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10%;

}

.imglo {
    position: absolute;
    left: 77%;
}

.frem-content {
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding-right: 100px;
    
    
}
.textinfreme{
    color: aliceblue;
    position: absolute;
    left: 56%;
    font-family:'Inter',sans-serif;
}
.textinfreme2{
    color: aliceblue;
    position: absolute;
    right: 17%;
    font-family:'Inter',sans-serif;
}

.text-contett {
padding-left: 20px;
padding-left: 30px;
}

.text-contett h1 {
    font-size: 3rem;
    color: aliceblue;
    padding-bottom: 20px;
}

.text-contett h4 {
    color: #d6c7c7;
    font-size: 1.5rem;
}
.main4{
    justify-content: center;
    justify-items: center;
    background-color: #000000;

    
}
.header-text h1{
    color: aliceblue;
}
.header-text{
    width: 71%;
    border: 1px solid black;
    display: flex;
    justify-content:left;
    padding: 20px;
}
.galery-box{
    width: 70%;
    display: flex;
    justify-content: center;
    border: 1px solid black;

}

.img-box1{
    width: 50%;
}
.img-box1 img{
    width:100%;
    padding: 10px;
}


.img-box2{
    width: 50%;
}

.img-box2 img{
    width:100%;
    padding: 10px;
}

.box-cst{
    text-align: center;
    align-items: center;
    height: 160px;
    padding: 25px;
    background-color:gainsboro ;
}

.box-cst1{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
   
}
.box-cst1 h1{
    margin-top: 10px;
}

.btn-1{
    padding: 5px;
    border-radius: 5px;
    background-color: #9e9898;
    color: aliceblue;
    border: none;
    margin: 10px;
    cursor: pointer;
}