body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
}

.Classli{
    border: 1px solid red;
    width:17rem;
    text-align: center;
    margin: 0;
}
.Classul{
    border: 1px solid red;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    background-color: blueviolet;

}