/* .main{
    background-image:url(/MatinAbdi/One-Project/img/spheres-colorful-3840x2160-25755.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.continer{
    background-color: rgba(240, 248, 255, 0.788);
    width:30rem;
    max-height: 0;
    border-radius:8px;
    justify-content:center;
    transition: all 2s ease;
}
.continer.show{
    max-height:500px;
}
.continer-input-serach{
    display: flex;
    justify-content:space-between;
    height:45px;
}
.inputSerachName{
    width:30rem;
    height:2.5rem;
    border-radius: 8px;
    border: none;
    padding-left:200px;
    position: relative;
}
.inputSerachName input{

}
.box-iconSerach{
    position: absolute;
    justify-content:center;
    align-items:center;
    width:50px;
    height:50px;
    background: transparent;
    border:none;
    padding-bottom:20px;
}
.box-iconSerach img{
    transition: transform 0.3s ease;
    cursor: pointer;
}
.box-iconSerach img:active{
    content: '';
    transform: scale(0.9);


}

.continer-sitisInfo{
    width:10rem;
   text-align:left;
   padding-left:10px;
    margin-left:2.rem;
    flex-direction:column;
    margin-top:10px;
    font-family: sans-serif;
     transition: all 4s ease;
}
.citytag{font-size:15px;}
.temp{
    color:rgb(115, 89, 139);
    font-size:15px;
}
.humidity{font-size:15px;}
.sped{font-size: 15px;}
.WindDirction{font-size: 15px;}
.error{
    margin-left:13rem;
    font-size:14px;
    margin-top:2px;
}
.iconSerch{
    position: absolute;
    margin-top:4px;
    margin-left:27.5rem;
   
}
.iconClodOff{
    display: none;
}
.iconClodON{
    
} */
.main{
    background-image:url(/MatinAbdi/One-Project/img/spheres-colorful-3840x2160-25755.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
.continer{
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
}
.boxInputs{
    display: flex;
    gap:15rem;
    width:60rem;
    height:18rem;
    justify-content: center;
    align-items: center;
}
.selectProvince{
    width:15rem;
    height: 2rem;
    font-size:20px;
    border: none;
    border-radius: 8px;
}
.selectCity{
    width:15rem;
    height: 2rem;
    font-size:20px;
    border: none;
    border-radius: 8px;
}
.boxBtn{
    text-align: center;
}
.Btn{
    border: none;
    width:20rem;
    height:2rem;
    border-radius:8px;
    transition: all 1s ease;
}
.Btn:hover{
   background-color: rgb(223, 162, 31);
   
}