
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(217, 235, 235);
    font-family:'Raleway',sans-serif ;
    

}

.main1 {
    width: 80rem;
    height: 800px;
    display: flex;
    justify-content: center;
    
    margin-left: 18%;
    margin-top: 5%;
    font-family:'Raleway',sans-serif  ;

}

.box-continer {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(41, 39, 39);
    justify-content: right;
}

/* المان های مربوط ب هدر بالای صفه فرم */
.headaer {
    height: 7%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.action-box {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-right: 15px;
}

.action-box input {
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 35px;
    text-align: center;
    padding-left: 15px;
    border: 1px solid;
}

.action-box select {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding: -15px;
    border: 1px solid;

}

.action-box button {
    width: 100px;
    height: 35px;
    color: white;
    background-color: black;
    border-radius: 10px;
    white-space: 10px;
}

.logo {
    background-color: rgb(73, 73, 73);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-top: 2px;
}

.logo img {
    padding-bottom: 5px;

}

.continer-form {
    width: 40%;
    height: 83%;
    justify-content: right;
    flex-direction: column;
    margin-left: 45rem;
    border-radius: 20px;
    margin-top: 45px;
    background-color: rgb(245, 245, 245);

}

.input-continer1 {
    display: flex;
    padding-left:30px ;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.text-continer{
    padding: 30px;
}

.inpu1-box {
    display: flex;
    flex-direction: column;
}

.inpu2-box {
    display: flex;
    flex-direction: column;
}

.input-continer1 input {
    width:220px;
    height: 40px;
    border: none;
    border-radius:10px;
}

.inputha {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.inputha label {
    margin-top: 30px;
  
}

.inputha input {
    width:28.2rem;
    height: 40px;
    border: none;
    border-radius: 10px;
    ;
}

.ssomit{
    display: flex;
    gap: 5px;
    color: rgb(132, 133, 134);
}
.ssomit1{
    display: flex;
    gap: 5px;
    padding-top: 20px;
    color: rgb(128, 128, 128);
}

.box-textprvite{
    padding: 30px;
}

.box-serch{
    position: relative;
  
}
.box-serch img{
    position:absolute;
    left: 8px;
    top: 5px;
}
.inputha p{
    font-size: 10px;


    
}
.btn-signup button{
background-color: rgb(54, 54, 54);
color: aliceblue;
padding: 8px  20px;
border-radius: 40px;


}
.btn-signup{
    display: flex;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom:50px;
}


.text-baner{
    width: 500px;
    position: absolute;
    top: 25%;
    left:25%;
    font-size: 30px;
}
.text-baner h1{
    color: aliceblue;
    padding-bottom: 10px;
    font-weight: bold;
}
.text-baner h4{
    color: aliceblue;
    font-family:'Raleway',sans-serif ;
}